.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.ingredients {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 16px;
}

.total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
}
